<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.park.dao.master.CompanyArchiveMapper" >
  <resultMap id="BaseResultMap" type="com.yuanbao.park.entity.CompanyArchive" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="archiveName" property="archiveName" jdbcType="VARCHAR" />
    <result column="archiveUrl" property="archiveUrl" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleteTime" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="deleteType" property="deleteType" jdbcType="INTEGER" />
    <result column="companyId" property="companyId" jdbcType="BIGINT" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, license, archiveName, archiveUrl,
    createTime, updateTime, deleteTime, deleteType, companyId, remark1, remark2, remark3, 
    remark4
  </sql>

</mapper>