<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.park.dao.master.CooperationMethodMapper" >
  <resultMap id="BaseResultMap" type="com.yuanbao.park.entity.CooperationMethod" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cooMethod" property="cooMethod" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cooMethod
  </sql>

</mapper>