<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.park.dao.master.ParkTrendMapper" >
  <resultMap id="BaseResultMap" type="com.yuanbao.park.entity.ParkTrend" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="trendLabel" property="trendLabel" jdbcType="VARCHAR" />
    <result column="importDate" property="importDate" jdbcType="TIMESTAMP" />
    <result column="newCover" property="newCover" jdbcType="VARCHAR" />
    <result column="deleteType" property="deleteType" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleteTime" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="newsContents" property="newsContents" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, title, website, trendLabel, importDate, newCover, deleteType, createTime, updateTime, 
    deleteTime, remark1, remark2, remark3, remark4,newsContents
  </sql>

</mapper>