<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.park.dao.master.PartApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.yuanbao.park.entity.PartApplication" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="applicationDate" property="applicationDate" jdbcType="DATE" />
    <result column="applicationType" property="applicationType" jdbcType="INTEGER" />
    <result column="printNum" property="printNum" jdbcType="INTEGER" />
    <result column="deleteType" property="deleteType" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleteTime" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="parkId" property="parkId" jdbcType="VARCHAR" />
    <result column="registerTime " property="registerTime" jdbcType="DATE" />
    <result column="supportAndServer" property="supportAndServer" jdbcType="VARCHAR" />
    <result column="applicationCompanyName" property="applicationCompanyName" jdbcType="VARCHAR" />
    <result column="alternativeBusinessFontSize" property="alternativeBusinessFontSize" jdbcType="VARCHAR" />
    <result column="companyPlace" property="companyPlace" jdbcType="VARCHAR" />
    <result column="registeredCapital" property="registeredCapital" jdbcType="DECIMAL" />
    <result column="companyType" property="companyType" jdbcType="VARCHAR" />
    <result column="projectDescription" property="projectDescription" jdbcType="VARCHAR" />
    <result column="teamComposition" property="teamComposition" jdbcType="VARCHAR" />
    <result column="investmentAmount" property="investmentAmount" jdbcType="DECIMAL" />
    <result column="itemName" property="itemName" jdbcType="VARCHAR" />
    <result column="industryCategory" property="industryCategory" jdbcType="VARCHAR" />
    <result column="domesticIndustryAnalysis" property="domesticIndustryAnalysis" jdbcType="VARCHAR" />
    <result column="policySupport" property="policySupport" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, telephone, applicationDate, applicationType, printNum, deleteType, createTime, 
    updateTime, deleteTime, remark1, remark2, remark3, remark4, parkId, registerTime,
    supportAndServer, applicationCompanyName, alternativeBusinessFontSize, companyPlace, 
    registeredCapital, companyType, projectDescription, teamComposition, investmentAmount, 
    itemName, industryCategory, domesticIndustryAnalysis, policySupport
  </sql>

</mapper>